/* styles.css */

.project-properties {
    color: #33FFFC;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

.timestamp {
    text-align: right;
    width: 100%;
}

.title {
    color: #33FFFC;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
}