/* styles.css */

.project-properties {
    color: #33FFFC;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

.teeny {
    font-size: 0.75em;
    text-align: center;
    width: 100%;
}

.timestamp {
    text-align: right;
    width: 100%;
}

h1, .title {
    color: #33FFFC;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

h3          {
    color: #f5ff33;
    font-size: 1em;
    font-weight: bold;
}